<!DOCTYPE html>
<html>

  <head>

    <title>Pelias</title>

    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.css' rel='stylesheet' />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.0-beta0/mapbox.js'></script>
    <script src="javascript/application.js"></script>

    <style>
      body { margin: 0; padding: 0; }
      .row { margin-top: 20px; }
      .small { margin-bottom: 20px; font-size: 12px; color: #555; }
      #top { position: fixed; top: 20px; left: 60px; right: 60px; }
      #map { position: fixed; top: 0; right: 0; bottom: 0; left: 0; }
      .results { margin-top: 100px; margin-left: 60px; background: rgba(255, 255, 255, 0.7); z-index: 100; }
      .small:hover { cursor: pointer; color: #000; }
      .small:hover strong { text-decoration: underline; }
      .centerLabel { position: absolute; top: 50%; left: 50%; }
      .centerLabel div { position: absolute;
        left: -150px; background: rgba(0, 0, 0, 0.5); color: #fff; width: 300px; text-align: center;
        height: 50px; top: -25px; line-height: 50px;
      }
    </style>

  </head>

  <body ng-app="play">

    <div map-demo id="map" center="center"></div>

    <div class="container-fluid" ng-controller="SearchCtrl">

      <div id="top">
        <div class="row">
          <div class="col-md-3">
            <input class="form-control input-lg" placeholder="Type something..." ng-model="input" focus/>
          </div>
        </div>
      </div>

      <div class="row" ng-show="input">
        <div class="col-md-6 results">
          <div class="row">

            <div class="col-md-6">
              <div class="lead">Search</div>
              <div ng-repeat="result in searchResults" class="small" ng-click="goTo(result)">
                <strong>{{ result.properties.name }} ({{result.properties.type}})</strong><br/>
                <div ng-repeat="field in fieldsFor(result)">{{ field }}: {{ result.properties[field + '_name'] }}</div>
              </div>
              <p ng-if="!searchResults.length"><em>Nothing to see here</em></p>
            </div>

            <div class="col-md-6">
              <div class="lead">Suggest</div>
              <div ng-repeat="result in suggestResults" class="small" ng-click="goTo(result)">
                <strong>{{ result.properties.name }} ({{result.properties.type}})</strong><br/>
                <em>{{ result.properties.hint }}</em><br/>
                <div ng-repeat="field in fieldsFor(result)">{{ field }}: {{ result.properties[field + '_name'] }}</div>
              </div>
              <p ng-if="!suggestResults.length"><em>Nothing to see here</em></p>
            </div>

          </div>
        </div>
      </div>

      <div class="centerLabel" ng-show="spec.reverseResults.length">
        <div>
          {{ spec.reverseResults[0].properties.name }}
        </div>
      </div>

    </div>

  </body>

</html>
